<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn">
            <i class="bi bi-list"></i>
        </button>
        <div class="d-flex align-items-center">
            <div class="theme-toggle me-3">                       
                <button class="btn" id="themeToggle">
                    <i class="bi bi-moon-stars" id="themeIcon"></i>
                </button>
                
            </div>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                    <i class="bi bi-person-circle"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="/profile.html">Profile</a></li>
                    <li><a class="dropdown-item" href="">Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>